    class $name {
      public:
        utils::opencl::Memory* memory;
        ${dto_type_name}* dto;
        ${dto_type_name}* at(int i);
        void write();
        void write(size_t offset);
        void read();
        void read(${name}* dst);
        void readRange(size_t min, size_t length);
        void zeroFill();
        void setCount(size_t count);
        utils::opencl::ResourcesProvider* resourcesProvider;
    };